/* common style begin */
.btn
{
	border-radius: 40px;
  	line-height: 24px;
}

.btn-default
{
	color: #7c8589;
	background-color: #ffffff;
	border-color: #d8e3e7;
}

.text-color
{
	color: #7b898d;
}

.dark-text-color 
{
	color: #5f6a6d;
}

/* common style end */

/* notification-side-view begin */
.notification-side-view
{
	position: absolute;
	top: -60px;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 420px;
	background-color: #f2f2f4;
	overflow: auto;
	z-index: 20000;
}

.notification-side-view.side-show
{
	animation: side-show 0.3s;
	-webkit-animation: side-show 0.3s; /*Safari and Chrome*/
}
@keyframes side-show
{
	from {width: 0px;}
	to {width: 420px;}
}
@-webkit-keyframes side-show /*Safari and Chrome*/
{
	from {width: 0px;}
	to {width: 420px;}
}

.notification-side-view > .heading
{
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 420px;
	border-bottom: 1px solid #dedede;
}

.notification-side-view > .heading > .title
{
	display: inline-block;
	color: #5f6a6d;
    padding-left: 20px;
    padding-top: 13px;
}

.notification-side-view > .heading > .close-btn
{
	float: right;
	width: 40px;
	height: 40px;
	margin-top: 8px;
	margin-right: 20px;
	font-size: 17px;
	border-radius: 50%;
}

.notification-side-view > .notifications
{
	position: absolute;
	top: 60px;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 420px;
}

.notification-side-view > .notifications > .placeholder
{
	position: absolute;
    top: 120px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100px;
}

.notification-side-view > .notifications > .placeholder > h4 
{
	margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: #afb6ba;
    text-align: center;
}

.notification-side-view > .notifications > .notification
{
	padding: 0px 10px;
	bottom: 1px solid #bcbcbc;
	background-color: #dddddd;
	border-bottom: 1px solid #f1f6f8;
	cursor: pointer;
}

.notification-side-view > .notifications > .notification.read
{
	color: #afb6ba;
	background-color: #f2f2f4;
}

.notification-side-view > .notifications > .notification > .timeline-icon
{
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	width: 40px;
	height: 40px;
	line-height: 38px;
	font-size: 18px;
	background-color: #ffffff;
	color: #afb6ba;
	text-align: center;
	border: 1px solid #d8e3e7;
	border-radius: 50%;
}

.notification-side-view > .notifications > .notification > .content
{
	padding: 5px;
	margin-left: 52px;
}

.notification-side-view > .notifications > .notification > .content > .notification-header
{
	margin-top: 5px;
	width: 100%;
	height: 40px;
}

.notification-side-view > .notifications > .notification > .content > .notification-header > .operator
{
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.notification-side-view > .notifications > .notification > .content > .notification-header > .operator > img
{
	float: left;
	width: 30px;
	height: 30px;
}

.notification-side-view > .notifications > .notification > .content > .notification-header > .operator > .name
{
	margin-left: 40px;
	line-height: 35px;
}

.notification-side-view > .notifications > .notification > .content > .notification-header > .time
{
	font-size: 12px;
	float: right;
	line-height: 18px;
	margin-top: -25px;
	color: #afb6ba;
}

.notification-side-view > .notifications > .notification > .content > .notification-project
{
	width: 100%;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.notification-side-view > .notifications > .notification > .content > .notification-title
{
	width: 100%;
	height: 40px;
}

.notification-side-view > .notifications > .notification > .content > .notification-project > .foci,
.notification-side-view > .notifications > .notification > .content > .notification-title > .foci
{
	font-size: 14;
	color: #23a8f5;
}

.notification-view-cover
{
	position: absolute;
	top: -60px;
	bottom: 0;
	right: 0;
	left: -120px;
	margin: 0;
	padding: 0;
	
	background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgba(42, 51, 61, 0.44) 0%, rgba(42, 51, 61, 0.9) 100%) repeat scroll 0 0 !important;
	z-index: 19999;
}

/* notification-side-view end */


/* advice-view begin */
/* advice-view modal dialog common begin */
.modal .modal-header,
.modal .modal-footer
{
	border: none;	
}

.modal .modal-header .modal-title
{
	margin-top: 12px;
  	line-height: 1.8;
  	color: #23a8f5;
  	text-align: center;
}

.modal .modal-header .close
{
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 100;
}

.modal .modal-header .close > span
{
	font-size: 40px;
}

.modal .modal-content
{
	padding: 15px;	
}

.modal .modal-footer > .btn
{
	border-radius: 40px;
	line-height: 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modal .modal-footer > .btn-default
{
	color: #7c8589;
	border-color: #d8e3e7;
}

.modal .modal-footer > .btn-primary
{
	color: #ffffff;
	background-color: #23a8f5;
	border-color: #23a8f5;
}
/* advice-view modal dialog common end */

.advice-view
{
	
}

.advice-view #advice_content
{
	width: 100%;
	height: 200px;
}

/*  advice-view end */